flows.json
[{"id":"1ed14482.743c7b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5f1a8042.2883c","type":"inject","z":"1ed14482.743c7b","name":"Trigger_1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"1","topic":"Read","payload":"","payloadType":"date","x":170,"y":240,"wires":[["522b0212.82aebc"]]},{"id":"522b0212.82aebc","type":"function","z":"1ed14482.743c7b","name":"ModbusTCP_Config","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 4 , 'quantity': 7 } \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[["21f9f05a.6eef1"]]},{"id":"21f9f05a.6eef1","type":"modbus-flex-getter","z":"1ed14482.743c7b","name":"ModbusTCP_Read","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"81d5876d.abb31","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":610,"y":240,"wires":[["4e89248d.49d54c"],[]]},{"id":"c0d5e48a.454328","type":"inject","z":"1ed14482.743c7b","name":"Trigger_1m","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"Read","payload":"","payloadType":"date","x":170,"y":320,"wires":[["a258062c.8ca6f8"]]},{"id":"a258062c.8ca6f8","type":"function","z":"1ed14482.743c7b","name":"Minute_%5","func":"let Now = global.get(\"Now\")\n\nlet Minute_mod5 = Now.Minute % 5\n\nif (Minute_mod5 === 0) {\n    msg.enableLog = true\n    return msg\n} \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":320,"wires":[["64868286.f941cc"]]},{"id":"d65248a6.f408c8","type":"inject","z":"1ed14482.743c7b","name":"Trigger_1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"1","topic":"Read","payload":"","payloadType":"date","x":170,"y":160,"wires":[["ab542558.ddb568"]]},{"id":"ab542558.ddb568","type":"function","z":"1ed14482.743c7b","name":"Now","func":"let Now = {}\nNow.Year = new Date().getFullYear()\nNow.Month = new Date().getMonth() + 1\nNow.Day = new Date().getDate()\nNow.Hour = new Date().getHours()\nNow.Minute = new Date().getMinutes()\nNow.Second = new Date().getSeconds()\n\nglobal.set(\"Now\",Now)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":160,"wires":[[]]},{"id":"64868286.f941cc","type":"function","z":"1ed14482.743c7b","name":"Config_LogFile","func":"let enableLog = msg.enableLog\n\nif (enableLog === true) {\n    let Pressure = global.get(\"Pressure\")\n\n    let Now = global.get(\"Now\")\n    let year = Now.Year + \"\"\n    let month = Now.Month + \"\"\n    let day = Now.Day + \"\"\n    let hour = Now.Hour + \"\"\n    let minute = Now.Minute + \"\"\n    let second = Now.Second + \"\"\n\n    day = checkZero(day);\n    month = checkZero(month)\n    year = checkZero(year)\n    hour = checkZero(hour)\n    minute = checkZero(minute)\n    second = checkZero(second)\n\n    let logtime = year + month + day +  hour + minute + second\n    let FTPStr = \"Pressure\" + \"\\t\" + Pressure + \"\\t\" + \"bar\" + \"\\t\" + logtime + \"\\t\" + \"00\" + \"\\n\"\n\n    msg.filename = \"C:/Users/DVA/Desktop/LA/\" + \"LA_CNLA_NM01_\" + logtime + \".txt\"\n    msg.payload = FTPStr\n    return msg\n}\n\nfunction checkZero(data){\n    if (data.length == 1) data = \"0\" + data\n    return data\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["ed73f12e.d0893"]]},{"id":"4e89248d.49d54c","type":"function","z":"1ed14482.743c7b","name":"Data_Modbus","func":"let data = msg.payload\n\nglobal.set(\"Pressure\",data[0])\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":240,"wires":[[]]},{"id":"384effd3.d9654","type":"debug","z":"1ed14482.743c7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":320,"wires":[]},{"id":"ed73f12e.d0893","type":"file","z":"1ed14482.743c7b","name":"LogFile","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":720,"y":320,"wires":[["384effd3.d9654"]]},{"id":"c9014a46.3d5fa8","type":"fs-file-lister","z":"1ed14482.743c7b","name":"FileLister","start":"","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":false,"single":true,"depth":0,"stat":false,"showWarnings":false,"x":460,"y":540,"wires":[["ae151a8c.377fe8"]]},{"id":"c1629080.6b3bf","type":"function","z":"1ed14482.743c7b","name":"Directory_LogFile","func":"    msg.payload = {\"start\":\"C:/Users/DVA/Desktop/LA\"}\n    return msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":540,"wires":[["c9014a46.3d5fa8"]]},{"id":"ae151a8c.377fe8","type":"function","z":"1ed14482.743c7b","name":"OldestFile","func":"msg.fileName = msg.payload[0]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":540,"wires":[["b53d8019.2134e","50c00360.e51a5c"]]},{"id":"d2e0cf23.5fde","type":"inject","z":"1ed14482.743c7b","name":"Initializer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["4dd3172c.49b548"]]},{"id":"4dd3172c.49b548","type":"function","z":"1ed14482.743c7b","name":"finishSend","func":"global.set(\"finishSend\",true)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":80,"wires":[[]]},{"id":"88e7fbb2.795348","type":"function","z":"1ed14482.743c7b","name":"Config_Directory","func":"let fileName = msg.fileName\n    global.set(\"finishSend\",false)\n    let directory = fileName.slice(-18,-10)\n    msg.payload = \"curl -u \" + \"demo1\" + \":\" + \"123456\" + \" ftp://\" + \"112.78.4.162\" + \" -Q \\\"MKD \" + \"LA\" + \"/\"+ directory +\"\\\"\";\n    msg.fileName = fileName\n    msg.directory = directory\n    return msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":720,"wires":[["712a6a9c.964864"]]},{"id":"712a6a9c.964864","type":"exec","z":"1ed14482.743c7b","command":"","addpay":"payload","append":"msg.fileName, msg.directory","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":720,"wires":[["c744a48e.c980f8"],[],[]]},{"id":"c744a48e.c980f8","type":"function","z":"1ed14482.743c7b","name":"Config_FileUpload","func":"let fileName = msg.fileName\nlet directory = msg.directory\n\nmsg.payload =\"curl -T \" + \"C:/Users/DVA/Desktop/LA/\" + fileName + \" ftp://\" + \"112.78.4.162/\" + \"LA/\" + directory + \"/\" + \" --user \"+ \"demo1\" + \":\" + \"123456\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":720,"wires":[["a976c5ab.b95448","cf32cacb.400858"]]},{"id":"a976c5ab.b95448","type":"exec","z":"1ed14482.743c7b","command":"","addpay":"payload","append":"msg.fileName, msg.directory","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1090,"y":720,"wires":[["d198ea29.2e1af8"],[],[]]},{"id":"d42206d8.58cb18","type":"fs-ops-move","z":"1ed14482.743c7b","name":"MoveFile","sourcePath":"sourcePath","sourcePathType":"msg","sourceFilename":"sourceFilename","sourceFilenameType":"msg","destPath":"destinationPath","destPathType":"msg","destFilename":"destinationFilename","destFilenameType":"msg","link":false,"x":1620,"y":720,"wires":[["66fb6b32.5d35f4"]]},{"id":"d198ea29.2e1af8","type":"function","z":"1ed14482.743c7b","name":"Config_MoveFile","func":"fileName = msg.fileName\nmsg.sourcePath = \"C:/Users/DVA/Desktop/LA/\"\nmsg.sourceFilename = fileName\nmsg.destinationPath = \"C:/Users/DVA/Desktop/LA_Stored/\"\nmsg.destinationFilename = fileName\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":720,"wires":[["d42206d8.58cb18"]]},{"id":"2f28f7d3.ac2468","type":"function","z":"1ed14482.743c7b","name":"FinishSend","func":"let connectionCode = global.get(\"connectionCode\")\n\nlet fileName = msg.fileName\nif ((fileName == undefined) || (connectionCode != 0)) {\n    global.set(\"finishSend\",true)\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":540,"wires":[["84d2f7d5.88e9b8"]]},{"id":"696af132.65111","type":"function","z":"1ed14482.743c7b","name":"Check_FTPServer","func":"msg.payload = \"curl -u \" + \"demo1\" + \":\" + \"123456\" + \" ftp://\" + \"112.78.4.162\"\n    \nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":540,"wires":[["c298844c.157b18"]]},{"id":"c298844c.157b18","type":"exec","z":"1ed14482.743c7b","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1730,"y":540,"wires":[[],[],["8904cd77.b688e"]]},{"id":"348adb5.8305f24","type":"inject","z":"1ed14482.743c7b","name":"Initializer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1280,"y":420,"wires":[["696af132.65111"]]},{"id":"b53d8019.2134e","type":"switch","z":"1ed14482.743c7b","name":"","property":"fileName","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"jsonata"},{"t":"neq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":540,"wires":[["2f28f7d3.ac2468"],["88e7fbb2.795348"]]},{"id":"a4230b41.39fd98","type":"link in","z":"1ed14482.743c7b","name":"","links":["66fb6b32.5d35f4"],"x":95,"y":580,"wires":[["c1629080.6b3bf"]]},{"id":"66fb6b32.5d35f4","type":"link out","z":"1ed14482.743c7b","name":"","links":["a4230b41.39fd98"],"x":2075,"y":720,"wires":[]},{"id":"8904cd77.b688e","type":"switch","z":"1ed14482.743c7b","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1890,"y":560,"wires":[["66fb6b32.5d35f4"],["598aa424.e574fc"]]},{"id":"bfc66ee2.b0648","type":"link in","z":"1ed14482.743c7b","name":"","links":["598aa424.e574fc"],"x":955,"y":580,"wires":[["2f28f7d3.ac2468"]]},{"id":"598aa424.e574fc","type":"link out","z":"1ed14482.743c7b","name":"","links":["bfc66ee2.b0648"],"x":1795,"y":620,"wires":[]},{"id":"84d2f7d5.88e9b8","type":"delay","z":"1ed14482.743c7b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":540,"wires":[["696af132.65111"]]},{"id":"cf32cacb.400858","type":"debug","z":"1ed14482.743c7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":800,"wires":[]},{"id":"50c00360.e51a5c","type":"debug","z":"1ed14482.743c7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"fileName","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":460,"wires":[]},{"id":"81d5876d.abb31","type":"modbus-client","name":"MB","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1000,"clientTimeout":3000,"reconnectOnTimeout":true,"reconnectTimeout":3000,"parallelUnitIdsAllowed":false}]